<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.arhat.arhat.chattest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    //设置网络权限
    <application
        android:name="com.arhat.chattest.constants.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/theme"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.arhat.chattest.activity.MainActivity"
            android:label="主页面">
        </activity>
        <activity
            android:name="com.arhat.chattest.activity.NewFriendActivity"
            android:label="新朋友"/>
        <activity
            android:name="com.arhat.chattest.activity.RegisterActivity"
            android:label="注册"/>
        <activity android:name="com.arhat.chattest.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.arhat.chattest.activity.MessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="消息页"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity android:name="com.arhat.chattest.activity.AddActivity">
        </activity>
        <activity android:name="com.arhat.chattest.activity.FriendInfoActivity">
        </activity>
        <activity
            android:name="com.arhat.chattest.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity android:name="com.arhat.chattest.activity.AuthenticationActivity">
        </activity>
        <activity android:name="com.arhat.chattest.activity.GroupManagerActivity">
        </activity>
        <activity android:name="com.arhat.chattest.activity.SelectGroupActivity">
        </activity>
        <activity android:name="com.arhat.chattest.activity.ChatGroupActivity">
        </activity>
    </application>

</manifest>